[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-environ = "*"
whitenoise = "*"
gunicorn = "*"
django-cors-headers = "*"
djoser = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-registration-redux = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
